html{
    font-size:62.5%;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

.yo{
    color:green;
    font-size:8rem;
    text-align:center;
}
.start{
    display:flex;
    align-self:center;
    font-size:4rem;
    
}