html{
    font-size:62.5%;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    
}

.yo{
    color:green;
    font-size:8rem;
    text-align:center;
}
.intro-page{
    
    align:center;
   
    
}
.start{
    margin-left: 44%;
    font-size:4rem;
    margin-top: 3%;
}
.hidden{
    display:none;
}
#quiz-content{
    
    text-align:center;
    font-size: 3rem;
}